* {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    color: $color-dark;
    text-align: left;
}
.app {
    max-width: 1200px;
}
main {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input,
textarea,
button {
    padding: 10px;
    border: 1px solid $color-dark;
}
button {
    background: $color-accent-1;
    &:hover {
        background: $color-accent-2;
        color: $color-light;
        cursor: pointer;
    }
}
